<div id="page-wrapper">
  <header id="header" class="col-12">
    {{ page.header }}
  </header>
  <main id="main-content" class="col-8">
    {{ page.content }}
  </main>
  <footer id="footer" class="col-12">
    {{ page.footer }}
  </footer>
</div>
